// |--------------------------------------------------------------------------
// | Sidenav list
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .sidenav-list
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------

$sidenav-list-spacing-left: 25px;
$sidenav-list-dot-spacing: 22px;

// --------------------------------------------------
// Mixins
// --------------------------------------------------

@mixin footer-mixin() {}

// --------------------------------------------------
// Styling
// --------------------------------------------------

.region-sidebar-first,
.region-sidebar-second {
	& > div {
		h2 {
			margin: 0 0 20px;
			color: $color-dark-gray2;
			font-size: 3rem;
			font-family: "Museo 300",Helvetica,Arial,sans-serif;
			padding: 0;
			margin-bottom: 35px;
		}
		+ {
			div {
				margin-top: 0;
				padding-top: 45px;
				padding-bottom: 35px !important;
				border-bottom: 1px solid $color-dark-gray2;
				ul {
					li {
						padding: 0;
						border-bottom: 1px solid $color-light-gray1;
						background-color: $color-white;
						position: relative;
						margin-top: 0;
						&::before {
							display: none;
						}
						a {
							display: block;
							color: $color-dark-gray2;
							text-decoration: none;
							font-size: 1.6rem;
							font-family: "Museo 500", sans-serif;
							font-weight: 500;
							padding: 16px 20px;
							transition: all 0.2s ease-in-out;
							&:hover, &:focus {
								background: $background_color__button;
								color: $color-white;
							}
						}
					}
				}
				.facet-item {
					display: block;
					position: relative;
					& >  label {
						&:hover {
							color: $color-white!important;
							background: $background_color__button!important;
							transition: all 0.2s ease-in-out;
						}
						
					}
					& > .facets-checkbox {
						&:checked {
							& + label {
								&:hover {
									&:after {
										filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(5deg) brightness(499%) contrast(101%);
									}
								}
							}
						}
					}

					label {
						padding: 16px 40px 16px 20px;
						width: 100%;
						display: block;
						text-align: left;
						color: $color-dark-gray2;
						cursor: pointer;
						position: relative;
						z-index: 2;
						overflow: hidden;
						&::after {
							width: 16px;
							height: 17px;
							content: '';
							z-index: 2;
							position: absolute;
							right: 20px;
							top: 50%;
							transform: translateY(-50%);
							cursor: pointer;
						}
					}
					.facets-checkbox {
						&:checked {
							~ {
								label {
									color: $color-primary;
									&::after {
										background: transparent url("../images/sprite.png") no-repeat -136px 0;
									}
								}
							}
						}
						width: 16px;
						height: 17px;
						content: '';
						z-index: 2;
						position: absolute;
						right: 20px;
						top: 50%;
						transform: translateY(-50%);
						cursor: pointer;
						visibility: hidden;
					}
				}
			}
		}
	}
	.facet-item__count {
		display: none;
	}
	.sidenav-list {
    border-top: 0;
    border-bottom: 0;
		display: block;
		& > li {
			border-top: 1px solid $color-light-gray1;
			background-color: $background_color__button;
			transition: all 0.2s ease-in-out;
			&:hover {
				background-color: $background_color__button_hover;
			}
			a {
				color: $color-white;
				font-weight: initial;
				&:hover, &:focus {
					font-weight: 700;
				}
			}
			& > a {
				padding: 10px 15px;
			}
			& > .sidenav-sub_list {
        padding-top: 12px;
        padding-bottom: 12px;
				a {
					color: $color-white;
				}
        & >  li {
          border-top: 0;
          &:hover {
            background-color: transparent;
          }
        }
			}
		}
		& > li.active {
			background-color: $background_color__button_hover;
			border-top: 1px solid $color-light-gray1;
			& > a {
				font-family: "Museo 700", sans-serif;
				font-weight: bold;
				font-style: normal;
				font-display: swap;
			}
		}
		& > li.current {
			background-color: $background_color__button_hover;
			border-top: 1px solid $color-light-gray1;
      border-left: 0;
			& > a {
				font-family: "Museo 700", sans-serif;
				font-weight: bold;
				font-style: normal;
				font-display: swap;
			}
			& > ul {
				& > li {
					& > a {
						padding: 2px 15px;
						color: $color-white;
						border-top: 0 none;
						position: relative;
						&:hover, &:focus {
							font-weight: 700;
						}
					}
				}
			}
		}
		li.has-submenu {
			& > a {
				padding-right: 35px;
				&::after {
					content: '';
					width: 8px;
					height: 24px;
					position: absolute;
					right: 15px;
					position: absolute;
					display: block;
					top: 10px;
					background: transparent url("../images/sprite.png") no-repeat -137px -23px;
				}
			}
		}
		li.active {
			& > a {
				&::after {
					transform: rotate(90deg);
				}
			}
		}
	}
	.has-submenu {
		.sidenav-sub_list {
			display: none;
		}
	}
	.current {
		.sidenav-sub_list {
			display: block;
		}
	}
	.sidenav-sub_list {
		& >  li {
			& >  a {
				padding-left: 15px;
				font-size: 1.5rem;
			}
			&::before {
				display: none;
			}
		}
		background-color: $color-primary;
		& > li.active {
			a {
				&::before {
					color: $color-white;
				}
			}
		}
	}
	.block-facets ul ul li {
		margin-left: 0;
		label {
			padding-left: 41px;
		}
	}
  #block-fds-redwhite-theme-sidebar-first-navigation {
    padding-top: 0;
  }
  #block-fds-redwhite-theme-os2web-meetings-search-related-search-page-link {
    padding-bottom: 35px;
  }
  #block-fds-redwhite-theme-os2web-search-section {
    border-top: 1px solid $color-dark-gray2;
  }
  [id*="block-indholdfield"], [id*="block-postlitermenu"] {
    padding-bottom: 50px;
    border-bottom: 1px solid $color-dark-gray2;
    h2 {
      margin: 0 0 35px;
      font-size: 3rem;
    }
    a {
      position: relative;
      margin-bottom: 5px;
      padding-left: 23px;
      display: block;
      &::before {
        content: "";
        background: transparent url("../images/sprite.png") no-repeat 0 -48px;
        display: block;
        position: absolute;
		top: 3px;
        left: 0;
        width: 19px;
        height: 19px;
      }
	  &[style*="padding-top"] {
		  &::before {
			top: 13px;
		  }
	  }
      &:hover::before, &:focus::before {
        background-position: -19px -48px;
      }
    }
  }
  #block-postlitermenu {
	  border-bottom: 0;
  }
}
.layout-sidebar-left {
	margin-top: 10px;
}
.layout-sidebar-right {
	margin-top: 10px;
	& > .box {
		& > .box__body {
			& > .region {
				& > * {
					&:last-child {
						padding-bottom: 0;
					}
					&:first-child {
						padding-top: 0;
					}
				}
			}
		}
	}
}
.sub-link-sub {
	float: left;
	width: 5%;
	content: '';
	height: 24px;
	position: relative;
	top: 5px;
	background: transparent url("../images/sprite.png") no-repeat -120px -70px;
}
.sub-link-div {
	float: right;
	width: 95%;
	font-weight: normal;
	&:hover {
		font-weight: 700;
	}
}
ul.limited-height >  .limited-height__toggle {
  display: none;
}


// --------------------------------------------------
// Variants
// --------------------------------------------------

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile - and up
@include media-breakpoint-up(xs) {}

// Mobile - only
@include media-breakpoint-only(xs, $grid-breakpoints) {}

// Tablet - and up
@include media-breakpoint-up(sm) {}

// Tablet - only
@include media-breakpoint-only(sm, $grid-breakpoints) {}

// Desktop - and up
@include media-breakpoint-up(md) {
  .layout-sidebar-left,
  .layout-sidebar-right {
    margin-top: 100px;
  }
}

// Desktop - only
@include media-breakpoint-only(md, $grid-breakpoints) {}

// Large desktop - and up
@include media-breakpoint-up(lg) {}

// Large desktop - only
@include media-breakpoint-only(lg, $grid-breakpoints) {}

// Extra large desktop - and up
@include media-breakpoint-up(xl) {}

// Print
@media print {

  .region-sidebar-first,
  .region-sidebar-second {

    .sidenav-list {
      display: none !important;
    }
  }
}

// Touch
.touchevents {}

// No touch
.no-touchevents {}
