$background_color__default: #ebebec;

$background_color__primary: #feffff;
$background_color__secondary: #eae3c0;
$background_color__tertiary: #066cc5;

$background_color__navigation: #fffeff;
$background_color__footer_primary: #d1d3d4;

// $background_color__footer_secondary: ;
$background_color__button: #C30A32;
$background_color__button_hover: #E6032F;


$color__link: #C40A32;
$color__link__hover: #333333;

$color__link_footer: #333334;
$color__bullets: #333433;




div[data-drupal-messages] {
    display: none;
}